version: '3.4'
services:

  vpn:
    container_name: vpntesting
    image: dbotamous/vpn-client:latest
    cap_add:
      - net_admin # required to modify network interfaces
    restart: always
    environment:
      - PUID=1000 # default user id, for  files access rights
      - PGID=1212 # default group id, for  files access rights
    volumes:
      - /dev/net/tun:/dev/net/tun # tun device
      - ${HOME}/docker/.vpntesting:/vpn # mounting nfs volume
    dns: # setting PIA DNS to fix dns leak issues
      - 209.222.18.222
      - 209.222.18.218
#    ports:
#      - 8989:8989 # sonarr port
#      - 7878:7878 # radarr port
#      - 8080:8080 # qbit port
#      - 6881:6881 # qbit torrent port
#      - 9117:9117 # jackett port
    command: '-r 192.168.0.0/16' # route local network traffic
